
#modal-register-login {
    transition: 0.5s ease-in-out;
    padding-right: 17px !important;
    top: -50px;
}

#modal-register-login .modal-dialog {
    max-height: calc(100% - 40px);
    overflow-y: auto;
    top: 24%;
}

#modal-register-login .modal-content {
    position: relative;
    border-radius: 0;
}

#modal-register-login .modal-content .btn-close-modal-user {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 6px;
    font-size: 23px;
    color: #bbb7b7;
    opacity: 1;
}

#modal-register-login .modal-content .btn-close-modal-user:focus {
    box-shadow: none;
    outline: none;
}

#modal-register-login .modal-content .btn-close-modal-user:hover {
    color: gray;
}

#modal-register-login .modal-content .modal-body {
    display: flex;
    padding: 0;
}

#modal-register-login .modal-content .modal-body .modal-content-left {
    width: 35%;
    background: #f5f5f5;
    padding: 15px;
}

#modal-register-login .modal-content .modal-body .modal-content-right {
    width: 65%;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register {
    padding: 15px;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .nav-tabs {
    border-bottom: 0;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .nav-tabs li a {
    margin-right: 0px;
    color: #7a7a7a;
    border-radius: 0;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .nav-tabs .nav-link.active {
    border: 1px solid gainsboro;
    border-bottom: 1px solid #fff;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content {
    border: 1px solid #dddddd;
    padding: 15px;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .input-box:last-child {
    border-bottom: 0;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .input-box {
    margin-bottom: 20px;
}


#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .input-box .icon {
    color: #31708f;
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 4px;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .input-box .icon-lock {
    font-size: 14px;
    top: 11px;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .input-box input {
    border: 0px !important;
    height: 38px;
    padding-left: 26px;
    border-bottom: 1px solid #e9e9e9 !important;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .input-box input:focus {
    border-color: #31708f !important;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .forgot-password {
    color: #4c4a4a;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .forgot-password:hover {
    color: #31708f;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .btn-group-login {
    display: flex;
    justify-content: space-between;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .btn-group-login .btn {
    width: 49.5%;
    color: #fff;
    height: auto;
    padding: 3px;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .btn-group-login .btn-facebook {
    border-color: #43b7e8;
    background: #43b7e8;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .btn-group-login .btn-facebook:hover {
    background-color: #36a1cd;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .btn-group-login .btn-google {
    border-color: #31708f;
    background: #31708f;
}

#modal-register-login .modal-content .modal-body .modal-content-right .box-register .tab-content .btn-group-login .btn-google:hover {
    background-color: #31708f;
}

#modal-register-login .icon {
    background-color: #fff;
    padding: 0;
    position: absolute;
    right: initial;
}

#modal-register-login .btn-register {
    margin-top: 30px;
    background: #31708f;
    color: #fff;
    padding: 9px;
}

#modal-register-login input {
    width: 100%;
}

.position-relative {
    position: relative;
}

#modal-register-login p {
    line-height: 1.5;
}

.error,
.required {
    font-size: 13px;
    color: red;
}

.summery_error {
    margin-bottom: 10px;
    background: #ef3f3f;
    padding: 10px;
    color: #fff;
}

.form-control,
.btn {
    border-radius: 0px;
}

.form-control:focus,
.form-control:active {
    box-shadow: none;
}

.label-change-pass {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.label-change-pass input {
    margin-right: 5px;
}

.label-change-pass span {
    margin-bottom: 0;
}

.box-change-password {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.list-img .item {
    display: inline-block;
    width: 100px;
    height: 110px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
    margin-right: 7px;
}

.list-img .item label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.list-img .item label:hover .label-mask {
    display: block;
}

.list-img .item label:hover .icon-plus {
    transition: all .5s ease;
    display: none;
}

.label-mask {
    display: none;
    width: 100%;
    height: 100%;
    background: #33333396;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.list-img .item .label-mask:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 30px;
    color: #eee;
    content: "\f382";
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.list-img .item .icon-plus {
    font-size: 35px;
    color: #555555;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-img .item .icon-remove {
    color: #fff;
    font-size: 13px;
    background: #555555;
    position: absolute;
    z-index: 5;
    top: -7px;
    right: -7px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.list-img .item .icon-remove:hover {
    transition: .5s ease;
    background: #ca3232;
}

.img-preview {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

select {
    background-color: transparent;
}

input[readonly] {
    background: #f9f9f9;
}